<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
        [(ngModel)] = 'listfilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by:{{listfilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)= 'imagetoggle()' >
                {{showimage ? 'Hide' : "Show"}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of products">
            <td>
              <img *ngIf = 'showimage'
                  [src]='test.imageUrl'
                  [title]='test.productName'
                  [style.width.px] = 'imageWidth'
                  alt="productlist">
            </td>
            <td>{{test.productName}}</td>
            <td>{{test.productCode | lowercase}}</td>
            <td>{{test.releaseDate}}</td>
            <td>{{test.price | currency: 'INR' : 'symbol': '1.2-2'}}</td>
            <td>{{test.starRating}}<app-star></app-star></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-list-in-ul></app-list-in-ul>
